#logo img {
  height: 60px;
}

#header {
  box-sizing: border-box;
  padding: 17px 55px;
  display: flex;
  justify-content: space-between;
  background: transparent;
  top: 0;
  position: fixed;
  width: 100%;
  transition: background-color 0.4s ease;
}

#header.scrolled {
  background-color: var(--main);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid var(--secondary);
}

#nav{
  display: flex;
  align-items: center;
}

#menu{
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

#menu a {
  display: block;
  padding: 10px 15px;
  color: var(--secondary);
  text-decoration: none;
  font-weight: 550;
}

#menu li{
  transition: 0.4s;
}

#menu li:hover{
  transform: scale(1.05);
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: var(--secondary);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--secondary);
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/* ----- banner ----- */

#section-one{
  background-image: url(/images/banner-4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  background-color: #000000a1;
  background-blend-mode: color;
}

#section-one .content-sec-one{
  display: flex;
  align-items: center;
  height: 120vh;
}

#section-one .text h2{
  font-family: 'CarlaSans';
  color: var(--secondary);
  font-size: 40px;
}

#section-one .text p{
  color: var(--secondary);
  margin-top: 15px;
}

#section-one .content-left{
  display: flex;
  gap: 50px;
  align-items: center;
}

#section-one .content-left .line{
  height: 130px;
  width: 7px;
  background-color: var(--secondary);
}

#section-one .btn-contact-us{
  margin-top: 30px;
}

#section-one .btn-contact-us a{
  padding: 15px 25px;
  background-color: var(--main);
  color: var(--secondary);
  text-decoration: none;
  border-radius: 7px 7px 30px 7px;
  font-weight: 500;
  transition: 0.4s;
}

#section-one .btn-contact-us i{
  margin-left: 10px;
  font-weight: 500;
  font-size: 20px;
}

#section-one .btn-contact-us a:hover{
  margin-left: 30px;
  background-color: var(--secondary);
  color: var(--main);
}

/* ----- SECTION TWO ----- */

#section-two{
  padding: 80px 0px;
  background-color: var(--secondary);
}

#section-two .title h2{
  color: var(--main);
  font-family: 'CarlaSans';
  font-weight: 600;
  text-align: center;
}

#section-two .content-sec-two{
  display: flex;
  align-items: center;
  margin-top: 80px;
}

#section-two .content-left .box{
  height: 400px;
  width: 400px;
  background-color: var(--tertiary);
}

#section-two .content-right p{
  color: var(--main);
  font-weight: 510;
}

#section-two .content-right span{
  font-family: 'CarlaSans';
  font-weight: 600;
}

#section-two .btn-next{
  margin-top: 30px;
  width: fit-content;
  transition: 0.3s;
}

#section-two .btn-next a{
  text-decoration: none;
  color: var(--white);
  background-color: var(--main);
  padding: 15px 25px;
  border-radius: 7px 7px 30px 7px;
  font-weight: 570;
  transition: 0.3s;
  font-family: 'CarlaSans';
}

#section-two .btn-next:hover {
  transform: translateY(10px);
}

#section-two .btn-next a:hover{
  background-color: var(--secondary);
  border: 1px solid var(--main);
  color: var(--main);
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px); 
  }
  100% {
    transform: translateY(0px);
  }
}

#section-two .btn-next i{
  margin-left: 10px;
  animation: upDown 2s  infinite;
}

/* ----- SECTION THREE ----- */

#section-three{
  padding: 80px 0;
  background-color: var(--white);
}

#section-three .title h2{
  font-family: 'CarlaSans';
  text-align: center;
  font-weight: 570;
  color: var(--main);
}

#section-three .content-sec-three{
  display: flex;
}
