#logo img {
  height: 60px;
}

#header {
  box-sizing: border-box;
  padding: 17px 55px;
  display: flex;
  justify-content: space-between;
  background: transparent;
  top: 0;
  position: fixed;
  width: 100%;
  transition: background-color 0.4s ease;
  z-index: 10;
}

#header.scrolled {
  background-color: var(--main);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid #ab8e6d;
}

#header.scrolled #menu a {
  color: var(--secondary); /* Ajuste conforme a cor desejada */
}

#nav{
  display: flex;
  align-items: center;
}

#menu{
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

#menu a {
  display: block;
  padding: 10px 15px;
  color: var(--main);
  text-decoration: none;
  font-weight: 550;
}

#menu li{
  transition: 0.4s;
}

#menu li:hover{
  transform: scale(1.05);
}

#btn-mobile {
  display: none;
}

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: var(--secondary);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    
  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--secondary);
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

/* ----- banner ----- */

#section-one{
  background-image: url(/images/banner-4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #00000025;
  background-blend-mode: color;
}

#section-one .content-sec-one{
  display: flex;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  
}

#section-one .text h2{
  font-family: 'CarlaSans';
  color: var(--main);
  font-size: 40px;
}

#section-one .text h3{
  font-family: 'CarlaSans';
  color: var(--main);
  font-size: 30px;
}

#section-one .text p{
  color: var(--main);
  margin-top: 15px;
}

#section-one .content-left{
  display: flex;
  gap: 50px;
  align-items: center;
}

#section-one .content-left .line{
  height: 130px;
  width: 7px;
  background-color: var(--main);
}

#section-one .btn-contact-us{
  margin-top: 30px;
}

#section-one .btn-contact-us a{
  padding: 15px 25px;
  background-color: var(--main);
  color: var(--secondary);
  text-decoration: none;
  border-radius: 7px 7px 30px 7px;
  font-weight: 500;
  transition: 0.4s;
}

#section-one .btn-contact-us i{
  margin-left: 10px;
  font-weight: 500;
  font-size: 20px;
}

#section-one .btn-contact-us a:hover{
  margin-left: 30px;
  background-color: var(--secondary);
  color: var(--main);
}

#section-one .content-right img{
  height: 450px;
}

/* ----- SECTION TWO ----- */

#section-two{
  padding: 80px 0px;
  background-color: var(--main);
}

#section-two .title h2{
  color: var(--secondary);
  font-family: 'CarlaSans';
  font-weight: 600;
  text-align: center;
}

#section-two .content-sec-two{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 80px;
}


#section-two .content-right p{
  color: var(--secondary);
  font-weight: 510;
}

#section-two .content-right span{
  font-family: 'CarlaSans';
  font-weight: 600;
}

#section-two .btn-next{
  margin-top: 30px;
  width: fit-content;
  transition: 0.3s;
}

#section-two .btn-next a{
  text-decoration: none;
  color: var(--main);
  background-color: var(--secondary);
  padding: 15px 25px;
  border-radius: 7px 7px 30px 7px;
  font-weight: 570;
  transition: 0.3s;
  font-family: 'CarlaSans';
}

#section-two .btn-next:hover {
  transform: translateY(10px);
}

#section-two .btn-next a:hover{
  background-color: var(--tertiary);
  border: 1px solid var(--main);
  color: var(--main);
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px); 
  }
  100% {
    transform: translateY(0px);
  }
}

#section-two .btn-next i{
  margin-left: 10px;
  animation: upDown 2s  infinite;
}

/* ----- SECTION THREE ----- */

#section-three{
  padding: 80px 0;
  background-color: var(--white);
}

#section-three .title h2{
  font-family: 'CarlaSans';
  text-align: center;
  font-weight: 570;
  color: var(--main);
}

#section-three .title-content h2{
  font-family: 'CarlaSans';
  text-align: center;
  font-weight: 570;
  color: var(--secondary);
  font-size: 25px;
  margin-bottom: 30px;
}

#section-three .content-sec-three{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#section-three .content-services{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 40px;
  background-color: var(--main);
  border-radius: 20px 20px 70px 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#section-three .content-box{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

#section-three .box {
  height: 360px;
  width: 300px;
  background-color: var(--main);
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  position: relative;
}

#section-three .box::before {
  content: "";
  position: absolute;
  left: 0; 
  top: 50px; 
  height: 280px; 
  width: 2px; 
  background-color: #ab8e6d; 
}

#section-three .box img{
  height: 50px;
}

#section-three .title-box{
  margin-top: 15px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section-three .title-box p:first-child{
  color: #ab8e6d;
  text-align: center;
  font-weight: 600;
  font-family: 'CarlaSans';
  font-size: 18px;
}

#section-three .title-box p{
  color: var(--white);
  text-align: center;
}

#section-three .text-box{
  height: 150px;
  display: flex;
  align-items: center;
}

#section-three .text-box p{
  color: var(--white);
  text-align: center;
}

#section-three .btn-contact-us{
  margin-top: 40px;
  font-weight: 580;
}

#section-three .btn-contact-us i{
  margin-right: 15px;
  font-weight: 580;
  font-size: 18px;
}

#section-three .btn-contact-us a{
  padding: 15px 25px;
  background-color: var(--secondary);
  color: var(--main);
  border-radius: 7px 7px 30px 7px;
  text-decoration: none;
  font-family: 'CarlaSans';
  transition: 0.3s;
}

#section-three .btn-contact-us a:hover{
  margin-left: 30px;

}


