#logo img {
  height: 60px;
}

#logo-branco {
  display: none;
}

#header {
  box-sizing: border-box;
  padding: 17px 55px;
  display: flex;
  justify-content: space-between;
  background: transparent;
  top: 0;
  position: fixed;
  width: 100%;
  transition: background-color 0.4s ease;
  z-index: 10;
}

#header.menu-open {
  background-color: var(--main);
}

#header.scrolled {
  background-color: var(--main);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid var(--border);
}

#header.scrolled #menu a {
  color: var(--secondary);
}

#nav {
  display: flex;
  align-items: center;
}

#menu {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

#menu a {
  display: block;
  padding: 10px 15px;
  color: var(--main);
  text-decoration: none;
  font-weight: 550;
}

#menu li {
  transition: 0.4s;
}

#menu li:hover {
  transform: scale(1.05);
}

#btn-mobile {
  display: none;
}

@media (max-width: 735px) {

  #logo {
    display: none;
  }

  #logo-branco {
    display: block;
  }

  #logo-branco img {
    height: 45px;
  }

  #header {
    background-color: var(--main);
    border-bottom: 3px solid var(--border);
  }

  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0px;
    background-color: var(--white);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }

  #menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0;
    background-color: var(--white);
    transition: transform 0.6s ease, visibility 0s 0.6s;
    /* Transição de 0.6s */
    transform: translateY(-50%);
    /* Inicialmente escondido acima da tela */
    visibility: hidden;
  }

  #nav.active #menu {
    transform: translateY(0);
    /* Desce para a tela ao abrir */
    visibility: visible;
    transition: transform 0.6s ease, visibility 0s;
    /* Remove o delay ao abrir */
  }

  #header.scrolled #menu a {
    color: var(--main);
  }

  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }

  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }

  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    color: white;
  }

  #hamburger {
    border-top: 2px solid;
    width: 20px;

  }

  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--secondary);
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #nav.active #hamburger {
    border-top-color: transparent;
  }

  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }

  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  @keyframes slideUp {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-100%);
    }
  }

  #menu {

    transition: transform 0.6s ease;
  }

  #menu.closing {
    animation: slideUp 0.6s forwards;
  }
}

/* ----- banner ----- */

#section-one {
  background-image: url(/images/banner-4.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #00000025;
  background-blend-mode: color;
  display: flex;
  align-items: center;
}

#section-one .content-sec-one {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

#section-one .text h2 {
  font-family: 'CarlaSans';
  color: var(--main);
  font-size: 40px;
}

#section-one .text h3 {
  font-family: 'CarlaSans';
  color: var(--main);
  font-size: 30px;
}

#section-one .text p {
  color: var(--main);
  margin-top: 15px;
}

#section-one .content-left {
  display: flex;
  gap: 50px;
  align-items: center;
}

#section-one .content-left .line {
  height: 130px;
  width: 7px;
  background-color: var(--main);
}

#section-one .btn-contact-us {
  margin-top: 30px;
}

#section-one .btn-contact-us a {
  padding: 15px 25px;
  background-color: var(--main);
  color: var(--secondary);
  text-decoration: none;
  border-radius: 7px 7px 30px 7px;
  font-weight: 500;
  transition: 0.4s;
  border: 2px solid var(--main);
}

#section-one .btn-contact-us i {
  margin-left: 10px;
  font-weight: 500;
  font-size: 20px;
}

#section-one .btn-contact-us a:hover {
  margin-left: 30px;
  background-color: var(--secondary);
  color: var(--main);
}

/* ----- SECTION TWO ----- */

#section-two {
  padding: 80px 0px;
  background-color: var(--main);
  border-bottom: 5px solid var(--border);
  background-image: url(/images/bg-3.webp);
}

#section-two .title h2 {
  color: var(--secondary);
  font-family: 'CarlaSans';
  font-weight: 600;
  text-align: center;
}

#section-two .content-sec-two {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 80px;

}


#section-two .content-right p {
  color: var(--secondary);
}

#section-two .content-right span {
  font-family: 'CarlaSans';
  font-weight: 600;
}

#section-two .btn-next {
  margin-top: 30px;
  width: fit-content;
  transition: 0.3s;
}

#section-two .btn-next a {
  text-decoration: none;
  color: var(--main);
  background-color: var(--secondary);
  padding: 15px 25px;
  border-radius: 7px 7px 30px 7px;
  font-weight: 570;
  transition: 0.3s;
  font-family: 'CarlaSans';
}

#section-two .btn-next:hover {
  transform: translateY(10px);
}

#section-two .btn-next a:hover {
  background-color: var(--tertiary);
  border: 1px solid var(--main);
  color: var(--main);
}

@keyframes upDown {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0px);
  }
}

#section-two .btn-next i {
  margin-left: 10px;
  animation: upDown 2s infinite;
}


/* ----- SECTION THREE ----- */

#section-three {
  padding: 80px 0;
  background-color: var(--white);
  background-image: url(/images/bg-1.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

#section-three .title h2 {
  font-family: 'CarlaSans';
  text-align: center;
  font-weight: 570;
  color: var(--main);
}

#section-three .title-content h2 {
  font-family: 'CarlaSans';
  text-align: center;
  font-weight: 570;
  color: var(--secondary);
  font-size: 25px;
  margin-bottom: 30px;
}

#section-three .content-sec-three {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#section-three .content-services {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 40px;
  background-color: var(--main);
  border-radius: 20px 20px 70px 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#section-three .content-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#section-three .box {
  height: 460px;
  width: 251px;
  background-color: var(--main);
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

#section-three .box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  height: 360px;
  width: 2px;
  background-color: var(--border);
}

#section-three .img-box {
  background-color: var(--border);
  border-radius: 10px;
  padding: 6px;
}

#section-three .box img {
  height: 50px;
}

#section-three .title-box {
  margin-top: 15px;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#section-three .title-box p:first-child {
  color: var(--border);
  text-align: center;
  font-weight: 600;
  font-family: 'CarlaSans';
  font-size: 17px;
}

#section-three .title-box p {
  color: var(--white);
  text-align: center;
  margin: 0;
}

#section-three .subtitle{
  height: 100px;
  display: flex;
  align-items: center;
}

#section-three .subtitle p{
  color: var(--white);
  text-align: center;
  margin: 0;
}

#section-three .text-box {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-three .text-box p {
  color: var(--white);
  text-align: center;
  margin: 0;
}

#section-three .btn-contact-us {
  margin-top: 40px;
  font-weight: 580;
}

#section-three .btn-contact-us i {
  margin-right: 15px;
  font-weight: 580;
  font-size: 18px;
}

#section-three .btn-contact-us a {
  padding: 15px 25px;
  background-color: var(--secondary);
  color: var(--main);
  border-radius: 7px 7px 30px 7px;
  text-decoration: none;
  font-family: 'CarlaSans';
  transition: 0.3s;
}

#section-three .btn-contact-us a:hover {
  margin-left: 30px;
}

/* ----- SECTION FOUR ----- */

#section-four {
  padding: 80px 0;
  background-color: var(--tertiary);
}

#section-four .title h2 {
  text-align: center;
  font-family: 'CarlaSans';
}

#section-four .title p {
  text-align: center;
  font-weight: bold;
}

#section-four .content-sec-four {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

#section-four .swiper {
  height: 430px;
}

#section-four .swiper-slide {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  height: 380px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#section-four .name p {
  text-align: center;
  font-weight: bold;
}

#section-four .text {
  height: 250px;
  display: flex;
  align-items: center;
  text-align: center;
}

#section-four .stars i {
  color: #ffd900;
}

/* ----- SECTION FORM ----- */

#section-form {
  padding: 80px 0px;
  background-color: var(--main);
  border-bottom: 5px solid var(--border);
  background-image: url(/images/bg-3.webp);
}

#section-form .content-sec-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px
}

#section-form .title h2{
  font-family: 'CarlaSans';
  text-align: center;
  color: var(--white);
}

#section-form .content-left label{
  color: var(--white);
  font-family: 'CarlaSans';
  width: 80%;
}

#section-form .content-left input{
  width: 80%;
  border-radius: 15px;
  height: 40px;
  border: 3px solid var(--border);
  margin-top: 10px;
  padding: 10px;
}

#section-form .content-left select{
  width: 80%;
  border-radius: 15px;
  height: 40px;
  border: 3px solid var(--border);
  padding: 5px;
  margin-top: 10px;
}

#section-form .content-left textarea{
  margin-top: 10px;
  border-radius: 15px;
  border: 3px solid var(--border);
  padding: 10px;
  width: 80%;
}

#section-form input:focus, textarea:focus{
  outline: none;
}

#section-form .content-left button i{
  margin-right: 10px;
  font-size: 20px;
}

#section-form .content-left button{
  padding: 12px;
  width: 80%;
  border-radius: 7px 7px 30px 7px;
  border: none;
  font-family: 'CarlaSans';
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

#section-form .content-left button:hover{
  transform: scale(0.9);
}

/* ----- SECTION FIVE ----- */

#section-five {
  padding: 80px 0;
  background-color: var(--white);
  background-image: url(/images/bg-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

#section-five .title h2 {
  font-family: 'CarlaSans';
  text-align: center;
}

#section-five .content-sec-five {
  margin-top: 70px;

}

#section-five .accordion-item {
  margin-top: 20px;
}

#section-five .accordion-header {
  width: 100%;
  padding: 1rem;
  background: var(--main);
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  border-radius: 10px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-five .accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 1rem;
  border-radius: 10px;
  background-color: #f7f7f7;
}

#section-five .accordion-content p {
  margin: 20px 0;
}

#section-five .accordion-header i {
  transition: transform 0.3s ease;
}

#section-five .accordion-header i.rotate {
  transform: rotate(90deg);
  /* Ajuste o ângulo conforme necessário */
}

/* ----- SECTION SIX ----- */

#section-six {
  padding: 80px 0;
  background-color: var(--secondary);
}

#section-six .content-sec-six {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#section-six .content-right h3 {
  font-family: 'CarlaSans';
  color: var(--main);
}

#section-six .content-right #p1 {
  font-weight: 600;
}

#section-six .content-right p {
  color: var(--main);
}

#section-six .content-right span {
  font-family: 'CarlaSans';
}

#section-six .btn-contact-us {
  margin-top: 30px;
}

#section-six .btn-contact-us a {
  color: var(--secondary);
  background-color: var(--main);
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 7px 7px 30px 7px;
  font-weight: 580;
  font-family: 'CarlaSans';
  transition: 0.4s;
  border: 2px solid var(--main);
}

#section-six .btn-contact-us i {
  margin-left: 10px;
  font-size: 20px;
}

#section-six .btn-contact-us a:hover {
  background-color: var(--secondary);
  color: var(--main);
  margin-left: 30px;
}

/* ----- SECTION SEVEN ----- */

#section-seven {
  padding: 80px 0;
  background-color: var(--white);
}

#section-seven .content-sec-seven {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-seven .content-sec-seven h2 {
  text-align: center;
  font-family: 'CarlaSans';
}

#section-seven .content-sec-seven p {
  text-align: center;
  margin-top: 30px;
}

#section-seven .btn-contact-us {
  margin-top: 30px;
}

#section-seven .btn-contact-us a {
  background-color: var(--main);
  color: var(--white);
  text-decoration: none;
  padding: 18px;
  border-radius: 10px 10px 40px 10px;
  border: 2px solid var(--main);
  font-family: 'CarlaSans';
  font-weight: 580;
  transition: 0.4s;
}

#section-seven .btn-contact-us a:hover {
  background-color: var(--white);
  color: var(--main);
}

#section-seven .btn-contact-us i {
  margin-left: 10px;
  font-size: 20px;
}

/* ----- whats button ----- */

.whats-button {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 9999;
  animation: moveRightLeft 2s infinite alternate ease-in-out;
}

.whats-button img {
  height: 80px;
  width: 80px;
}

@keyframes moveRightLeft {
  0% {
    right: 10px;
  }

  50% {
    right: 40px;
  }

  100% {
    right: 10px;
  }
}

/* ----- FOOTER ----- */

footer {
  padding: 80px 0;
  background-color: var(--main);
  border-top: 5px solid var(--border);
}

footer .content-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

footer .logo-footer {
  display: flex;
  align-items: center;
  height: 170px;
}

footer .logo-footer img {
  width: 280px;
}

footer .content-footer ul {
  padding: 0px !important;
}

footer .content-footer li {
  list-style-type: none;
}


footer .content-footer h3 {
  font-size: 18px;
  color: var(--white);
  font-weight: 580;
  font-family: 'CarlaSans';
}

footer .content-footer a {
  font-size: 18px;
  color: var(--white);
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

footer .content-footer a:hover {
  color: var(--tertiary);
}

footer .content-footer i {
  font-size: 14px;
  color: var(--white);
  text-decoration: none;
  margin-right: 8px;
}